/** CSS STYLE **/

@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}

:root {
  --c-white: #fff;
  --c-opc-white: #d7ccc0;
  --c-light: #f5f4f0;
  --c-main: #fe8a02;
  --c-main-dark: #42413c;
  --c-dark: #2a2626;
  --c-opc-dark: #908d8b;
  --c-brown: #b09a81;
  --c-blue: #1085c5;
  --b-content-width: 1110px;
  --b-padding: 100px 0;
}

p,
input,
body {
  margin: 0;
  padding: 0;
}

button,
input {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

body {
  color: var(--c-dark);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3,
legend {
  color: var(--c-main);
  font-weight: normal;
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.with-background {
  position: relative;
}

.with-background::before {
  position: absolute;
  z-index: 0;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.dark {
  color: var(--c-dark);
}

.white {
  color: var(--c-white);
}

.wrapper {
  position: relative;

  width: var(--b-content-width);
  margin: 0 auto;
  padding: var(--b-padding);
}

.center-wrapper {
  display: flex;
  justify-content: center;
}

.column-2 {
  column-count: 2;
  column-gap: 30px;
}

.column-2-break p {
  -webkit-column-break-after: always;
}

.button-wrapper {
  padding-top: 40px;
}

header {
  background-color: var(--c-light);
}

header img {
  position: absolute;
  top: 50px;
  right: -270px;
  z-index: 1;

  height: 525px;
}

header h1 {
  position: relative;
  z-index: 10;

  height: 460px;
  margin: 0;
}

.empty {
  height: 1px;
  padding-top: -1px;
}

.button {
  display: inline-block;
  padding: 12px 24px;

  color: var(--c-white);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--c-main);
}

.video-block {
  margin-bottom: -200px;
}

.video-block h2 {
  margin-top: 0;
  margin-bottom: 30px;

  text-align: center;
}

.video-block p {
  margin-bottom: 30px;

  color: var(--c-dark);
  text-align: center;
}

.video-block iframe {
  margin: 0 auto;

  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.navigation {
  padding-top: 100px;

  background-color: var(--c-main-dark);
}

.navigation h2 {
  margin: 0;

  font-weight: normal;
  font-size: 52px;
}

footer a {
  color: var(--c-white);
}

.navigation a {
  display: flex;
  flex-direction: column;

  color: inherit;
  text-decoration: none;
}

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation li {
  box-sizing: border-box;
  width: 350px;
  min-height: 323px;
  padding: 24px;

  background-color: var(--c-light);
}

.navigation li:first-child {
  padding: 0;

  font-family: Neucha, cursive;

  background-color: var(--c-main-dark);
}

.navigation li:nth-child(-n + 3) {
  margin-bottom: 20px;
}

.navigation-item-title {
  margin-top: 0;
  margin-bottom: 12px;

  color: var(--c-main);
  font-weight: normal;
  line-height: 1.2;
}

.navigation-item-number {
  order: -1;
  margin-bottom: 30px;

  font-size: 64px;
  font-family: Neucha, cursive;
  line-height: 1;
}

.mental-card {
  background-color: var(--c-light);
}

.mental-card-img-wrapper:nth-child(odd) {
  margin-right: 30px;
}

.mental-card-img-wrapper:nth-child(even) {
  margin-left: 30px;
}

.mental-card h2 {
  margin-bottom: 30px;

  font-weight: normal;
}

.mental-card:nth-child(odd) .mental-card-header {
  color: var(--c-dark);
}

.mental-card:nth-child(even) .mental-card-header {
  color: var(--c-white);
}

.mental-card-pre-title {
  color: var(--c-opc-dark);
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
}

.mental-card-text {
  font-size: 34px;
  font-family: Neucha, cursive;
  line-height: 1.2;
}

.mental-card img {
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.mental-card h3 {
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px 10px;

  color: var(--c-white);
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-align-last: left;
  text-transform: uppercase;

  background-color: var(--c-brown);
}

.mental-card:nth-child(2n) {
  color: var(--c-white);

  background-color: var(--c-brown);
}

.mental-card:nth-child(2n) .mental-card-pre-title {
  color: var(--c-opc-white);
}

.mental-card:nth-child(2n) h3 {
  color: var(--c-brown);

  background-color: var(--c-white);
}

.mental-card-wrapper {
  display: flex;
}

footer {
  color: var(--c-white);
}

.dark-wrapper {
  background-color: var(--c-main-dark);
}

.light-wrapper {
  background-color: var(--c-white);
}

.dark-wrapper .wrapper {
  padding: 55px;
}

.light-wrapper .wrapper {
  padding: 0;
}

footer form {
  display: flex;
  justify-content: space-between;
  padding: 40px 55px;
}

footer fieldset {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 0;
  padding: 0;

  border: none;
}

footer label {
  display: block;
  margin-bottom: 9px;

  font-size: 18px;
}

.input-wrapper {
  display: flex;
}

footer input {
  align-self: end;
  box-sizing: border-box;
  width: 420px;
  height: 50px;
  padding: 15px;
}

footer button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 70px;
  height: 50px;
  padding: 0;

  font-size: 0;

  background-color: var(--c-main);
}

footer button::before {
  width: 24px;
  height: 24px;

  background: url("../images/send.svg");
  background-repeat: no-repeat;

  content: "";
}

footer legend {
  padding: 0;

  color: var(--c-white);
  font-size: 34px;
}

.legend-wrapper {
  display: flex;
  align-items: center;
  height: 110px;
  -webkit-column-break-after: always;
}

.agreement {
  font-size: 12px;
  line-height: 1.6;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;

  color: var(--c-dark);
  font-size: 14px;
}

.contacts a {
  color: var(--c-blue);
}

.contacts * {
  margin-bottom: 16px;
}

.contacts *:last-child {
  margin-bottom: 0;
}
